/* Document styles */

body {
  font-family: 'Poppins', sans-serif;
}

/* Index: Navbar styles */

.navbar {
  background-color: #E07A5F!important;
  color: white!important;
}

.navbar a {
  color: white!important;
}

.logo {
  font-weight: 800;
}

.blue {
  color: #3D405B;
}

.btn-outline-success {
  border-color: white;
  color: white;
}

.btn-outline-success:hover {
  border-color: white;
  background-color: white;
  color: #E07A5F;
}

#dropdown a.dropdown-item {
  color: #3D405B!important;
}

/* Index: Loading spinner styles */

#spinner {
  margin: 20px auto;
  width: 100px;
  display: block;
}

/* Index: Image header styles */

#image-header {
  height: 400px;
  width: 100%;
  background-image: url(./Assets/travel2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  text-shadow: 2px 2px linen;
}

#image-header h1 {
  font-weight: 800;
}

/* Index: Card styles */

.card-image {
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  border: 2px solid #3D405B;
  color: #3D405B;
}

.btn-primary {
  border-color: #E07A5F;
  background-color: #E07A5F;
}

.btn-primary:hover {
  border-color: #E07A5F;
  background-color: white;
  color: #E07A5F;
}

/* Index: Footer */

.footer {
  text-align: center;
}

.footer hr {
  border-color: #3D405B;
}

/* City: Header styles */

#city-picture {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  text-shadow: 2px 2px linen;
  position: relative;
}

#city-copy {
  background-color: #3D405B;
  text-shadow: none;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* Make the image fully responsive
 .carousel-inner img {
    width: 100%;
    height: 100%;
    position: absolute;
    max-width: 100%;
    width: 150%;
    height: 240px;
    max-height: 100%;
  } 

  input {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    background: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
    outline: 0;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
      padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
      padding 0.2s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
  }
  
  
  $grey-1   : #333;
$blue-1   : #00D7D8;
$purple-1 : #9261DF;
$purple-2 : #6434A2;

.stage{
  @include full-header-color($purple-1);
  transition: all 0.3s ease-in-out;
  
  &.faded{
    @include full-header-color($purple-2);
  }
}
@include firefox-vh(".stage");


.searchbar{
  position: relative;
  
  &.clicked{

    .btn-search{
      border-radius: 0 40px 40px 0;
      margin-left: 115px;
    }
    .btn-extended{
      margin-left: -185px;
      width: 300px;
      padding: 20px 30px;
      opacity: 1;
      border-radius: 40px 0 0 40px;
    }
  }
  
  .btn-search{
    position: absolute;
    background-color: $blue-1;
    color: white;
    width : 70px; height: 70px;
    left: 50%; margin-left: -35px;
    top: 50%;  margin-top:  -35px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:before{
      position: absolute;
      content:'';
      display: block;
      top: 24px; left: 24px;
      width: 15px; height: 15px;
      border-radius: 20px;
      box-shadow: 0px 0px 0px 3px #fff;
    }

      &:after{
        content: "";
        position: absolute;
        width: 15px; height: 4px;
        top: 42px; left: 37px;
        background-color: #fff;
        transform: rotateZ(45deg);
        border-radius: 3px;
      }
    

  }
  
  .btn-extended{
    position: absolute;
    width: 0px; height: 70px;
    left: 50%;  margin-left: 35px;
    top: 50%;   margin-top:  -35px;
    border-radius: 40px;
    padding: 0;
    font-size: 16px;
    border: none;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    
    
    &:focus{
      outline-width: 0px;
    }
  }
  
}


.credit{
  position: absolute;
  bottom: 0;
  background-color: #fff;
  padding: 5px 20px;
} 

.nav-tabContent {
display: flex; 
justify-content: center;
 align-items: center;  
} */
